* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 124, 184);
}

header {
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(170deg, rgb(36, 124, 184) 70%, white 30%);
}

header,
main,
footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.header-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("images/header.jpeg");
  background-size: cover;
  width: 730px;
  min-height: 795px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.header-image p {
  color: white;
  font-size: 4.75rem;
  font-family: "Playfair Display";
}

.header-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding: 3rem 3%;
}

.header-content h2 {
  font-family: "Playfair Display";
  font-size: 3.2rem;
  font-weight: 100;
  padding-bottom: 3rem;
}

.header-content p {
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  font-size: 2rem;
  line-height: 3rem;
}

.header-content .social-media-icons {
  padding-top: 3rem;
  align-self: flex-end;
}

.social-media-icons {
  display: flex;
  gap: 40px;
}

main {
  background-color: white;
  /* padding-top: 100px; */
  padding-bottom: 100px;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 30px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.main-content img {
  background-color: darkred;
  height: 250px;
  width: 100%;
}

.project-title {
  display: flex;
  padding: 10px;
  align-items: center;
}

.project-title h3 {
  flex: 1;
  font-family: "Playfair Display";
  font-weight: 400;
}

.project-title i {
  padding: 0 5px;
}

.post-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.post-text {
  padding: 10px 10px 50px 10px;
}

footer {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer h2 {
  font-size: 45px;
  padding-bottom: 20px;
}

footer p {
  font-family: Roboto;
  padding-top: 20px;
}

footer img {
  max-width: 100%;
}

.fa-brands {
  color: rgb(41, 41, 41);
}

footer .social-media-icons {
  padding-top: 10px;
  font-size: 2em;
  gap: 20px;
}
