* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 124, 184);
}

header {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 20px;
  background: linear-gradient(170deg, rgb(36, 124, 184) 70%, white 30%);
}

header, main {
  padding-left: 85px;
  padding-right: 85px;
}

.header-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("images/header.jpeg");
  background-size: cover;
  min-width: 520px;
  min-height: 565px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.header-image p {
  color: white;
  font-size: 3rem;
  font-family: "Playfair Display";
}

.header-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px black;
}

.header-content h2 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 100;
}

.header-content p {
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  font-size: 20px;
}

.header-content > * {
  padding: 20px;
}

.header-content .social-media-icons {
  align-self: flex-end;
}

.social-media-icons {
  display: flex;
  gap: 20px;
}

main {
  background-color: white;
  padding-top: 50px;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 30px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.main-content img {
  background-color: darkred;
  height: 250px;
  width: 100%;
}

.project-title {
  display: flex;
}

.post-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}