* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 38rem;
  background-color: rgb(36, 124, 184);
  transform-origin: 0;
  transform: skewY(-10deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.75rem;
}

.portrait-container {
  position: relative;
  aspect-ratio: 2/3;
  height: 34rem;
}

.portrait-container img {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.portrait-container h2 {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 2.25rem;
}

.about-me-container {
  background-color: white;
  box-shadow: 0 0 10px black;
  padding: 1.5rem;
  max-width: 45rem;
}

.about-me-container h2 {
  font-family: "Playfair Display";
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 2.25rem;
}

.about-me-container p {
  font-family: "Roboto", sans-serif;
  color: rgb(48, 48, 48);
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-me-container .social-media-icons {
  padding-top: 2.25rem;
  justify-content: flex-end;
}

.social-media-icons {
  display: flex;
  gap: 20px;
}

main {
  background-color: white;
  padding: 3.75rem;
  max-width: 75rem;
  margin: auto;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 30px;
}

main h2 {
  padding-bottom: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.main-content img {
  background-color: darkred;
  height: 250px;
  width: 100%;
}

.project-title {
  display: flex;
  padding: 10px;
  align-items: center;
}

.project-title h3 {
  flex: 1;
  font-family: "Playfair Display";
  font-weight: 400;
}

.project-title i {
  padding: 0 5px;
}

.post-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.post-text {
  padding: 10px 10px 50px 10px;
}

footer {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(36, 124, 184);
  max-width: 75rem;
  margin: auto;
  padding: 3.75rem;
}

footer h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

footer p {
  font-family: Roboto;
  padding-top: 20px;
  font-size: 1.125rem;
}

footer img {
  max-width: 100%;
}

.fa-brands {
  color: rgb(41, 41, 41);
}

footer .social-media-icons {
  padding-top: 10px;
  font-size: 1.5em;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
  }

  h2 {
    text-align: center;
  }

  .portrait-container {
    height: 30rem;
  }

  .about-me-container {
    background-color: transparent;
    box-shadow: none;
    padding: 6rem 0 0 0;
  }

  .social-media-icons,
  .about-me-container .social-media-icons {
    justify-content: center;
  }

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
